@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  font-family: 'Biryani', sans-serif;
}

body {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;  
}

header {
  background-color: #A51822;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: end;
}

#btn-add-note {
  padding: 7px 15px;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
}

.sidebar {
  grid-column: 1 / 2;
  background-color: rgb(240, 240, 240);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.projects {
  color: rgb(124, 124, 124);
}

#btn-add-project {
  width: max-content;
}

#btn-add-project:hover {
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 800px; 
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content hr {
  margin: 20px -20px;
}

.modal-content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-btns {
  grid-column: 1 / -1;
  display: flex;
  justify-content: end;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  border: 1px solid gainsboro;
  border-radius: 3px;
}

#input-title,
#input-date,
#input-priority,
#input-project,
#input-project-title {
  box-sizing: border-box;
  height: 35px;
  border: 1px solid gainsboro;
  border-radius: 3px;
}

#input-priority,
#input-project {
  padding-left: 5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-color: white;
}

.modal-content button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #A51822;
  color: white;
  font-size: 14px;
}

.modal-content button:hover {
  background-color: #84131b;
}

.modal-content button:active {
  transform: scale(0.97);
}

.project-modal-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

#input-project-title {
  justify-self: stretch;
  flex-grow: 1;
}

#modal-btn-add-project {
  margin-left: auto;
}

.form-btns {
  position: relative;
  height: 45px;
}

#btn-note-submit {
  display: block;
}

#btn-note-edit {
  position: absolute;
  display: none;
}

.content h2{
  padding: 40px 40px 20px 40px;
}

.content > div {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.content > div:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}